.nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: rgba(185, 189, 193, 0.1);
  border-radius: 8px 0 0 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.5px);
  border: 1px solid rgba(185, 189, 193, 0.18);
  color: #f9f9f9;
  padding: 64px 24px;
  min-width: 200px;
}
.mobile {
  width: fit-content;
}
.ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 8px;
  transition: all 0.3s ease-in-out;
  font-size: clamp(14px, 3vw, 18px);
  width: 100%;
}
.active {
  color: #2c6aefe5;
}
