.section {
  max-width: 450px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  bottom: 64px;
  right: 64px;
  z-index: 50;
  padding: 24px;
  background-color: var(--bg-card);
  background-image: url('/svg/offer.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.close {
  background-color: transparent;
  border: none;
  font-size: clamp(18px, 3.5vw, 26px);
  color: inherit;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.close:hover {
  transform: scale(110%);
}
.p {
  font-weight: 700;
}
