.section {
  margin-bottom: 10rem;
  color: var(--font-color);

}
.ul {
  min-height: 700px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}
.header_li {
  list-style: none;
  font-size: 2.6rem;
}
.li {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  border-radius: 8px;
  box-shadow: 0px 0px 20px hsla(0, 0%, 75%, 0.732);
  border-bottom: 1px solid hsla(0, 0%, 75%, 0.869);
  transition: all 0.3s ease-in-out;
  opacity: .8;
}
.li:hover {
  transform: scale(105%);
  opacity: 1;
}
.article {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem;
  margin: 1.5rem;
  border-radius: 6px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(247, 247, 247, 0.7) 50%,
    rgba(255, 255, 255, 0.5) 100%
  );
}
.span {
  max-width: 300px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}
.h4 {
  font-weight: 700;
}

.icon {
  font-weight: 700;
  font-size: 1.3rem;
}
