.section {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 64px auto;
  margin-bottom: 200px;
  background-image: url('/images/hero-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.main {
  max-width: 1500px;
  margin: auto 200px;
  display: flex;
  justify-self: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.aside {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1 {
  font-size: clamp(38px, 5vw, 60px);
  color: rgb(141, 141, 141);
}
.description {
  max-width: 400px;
  margin-bottom: 32px;
  color: rgb(141, 141, 141);
}
.p {
  font-weight: 700;
  font-size: 160px;
  color: rgb(90, 90, 90);
}

/* @media (min-width: 1200px) {
}
@media (max-width: 1024px) {
  .image {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 768px) {
  .image {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 425px) {
  .image {
    width: 300px;
    height: 300px;
  }
} */
