.section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 200px;
}
.header {
  max-width: 700px;
  margin: 0 auto;
  width: fit-content;
  border-radius: 8px;
  position: absolute;
  left: 100px;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.h2 {
  color: var(--text-secondary);
  font-size: clamp(28px, 5vw, 50px);
  font-weight: 700;
  margin-bottom: 16px;
}
.h4 {
  margin-bottom: 16px;
  font-weight: 700;
}
.image {
  filter: drop-shadow(0 4px 8px #6666668a);
}
/* @media (min-width: 1200px) {
}
@media (max-width: 1024px) {
  .image {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 768px) {
  .image {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 425px) {
  .image {
    width: 300px;
    height: 300px;
  }
} */
