.section {
  margin: 0;
  position: relative;
}
.button,
.li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: none;
  cursor: pointer;
  padding: 4px 16px;
  border-radius: 6px;
  background: linear-gradient(
    0deg,
    rgba(0, 185, 173, 0.2) 0%,
    hwb(176 0% 27% / 0.2) 100%
  );
  box-shadow: 0px 16px 20px rgba(3, 53, 52, 0.5);
  border-bottom: 1px solid rgba(0, 185, 173, 0.6);
    transition: all .3s ease-in-out;
}
.button:hover,
.li:hover {
    transform: scale(105%);
}
.mobile {
    background: transparent;
    border: none;
    box-shadow: none;
}
.ul {
  position: absolute;
  bottom: -110px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  list-style: none;
}
.link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding: 6px 12px;
}

