.main {
  width: 400px;
  height: 350px;
  position: relative;
}
.header,
.ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}
.ul {
  align-items: flex-start;
  align-content: flex-start;
  list-style: none;
  gap: 24px;
}
.li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.li:hover {
  transform: scale(105%);
}
.active {
  box-shadow: none;
  box-shadow:
    inset -5px -5px 20px hsla(180, 78%, 82%, 0.7),
    inset 5px 5px 20px hsla(180, 86%, 9%, 0.2);
  background:
    linear-gradient(
        0deg,
        hsla(140, 50%, 56%, 0.7) 20%,
        hsla(140, 89%, 58%, 0.8) 100%
      )
      padding-box,
    linear-gradient(
        90deg,
        hsla(140, 50%, 56%, 0.7) 70%,
        hsla(140, 91%, 70%, 0.8) 100%
      )
      border-box;
}
.aside {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid green;
}

.container {
  cursor: pointer;
}

.container input {
  display: none;
}

.container svg {
  overflow: visible;
}

.path {
  fill: none;
  stroke: rgba(0, 185, 173);
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
  stroke-dasharray: 241 9999999;
  stroke-dashoffset: 0;
}

.container input:checked ~ svg .path {
  stroke-dasharray: 70.5096664428711 9999999;
  stroke-dashoffset: -262.2723388671875;
}