.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  background-image: url(/svg/email.svg);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 85% 0%;
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.7));
}

.section {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background-color: var(--bgCards-color);
  border: var(--border);
  color: var(--font-color);
}
.h1 {
  font-size: 2.5rem;
}
.p {
  font-size: 1.3rem;
  margin-bottom: 5rem;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 2rem;
}
.input,
.button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px;
  border: 1px solid #002442;
  box-shadow: 0 2px 6px #002442da;
  background-color: #002442da;
}
.input {
  width: 100%;
}
.input::placeholder {
  color: #d7f2f6;
}

@media (max-width: 768px) {
  .main {
    background-size: 55%;
    background-position: 100% 0%;
  }
  .section {
    max-width: 350px;
  }
}

@media (max-width: 360px) {
  .main {
    background-size: 70%;
    background-position: 50% 0%;
}
}
