.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  background-image: url(/svg/email.svg);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 85% 0%;
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.7));
}

.section {
  width: 450px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background-color: var(--bgCards-color);
  border: var(--border);
  color: var(--font-color);
}

@media (max-width: 768px) {
  .main {
    background-size: 55%;
    background-position: 100% 0%;
  }
  .section {
    max-width: 350px;
  }
}

@media (max-width: 360px) {
  .main {
    background-size: 70%;
    background-position: 50% 0%;
}
}
