.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.p {
  margin-bottom: 64px;
}
.ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}
.li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 450px;
}
.image {
  border-radius: 8px;
  filter: drop-shadow(var(--shadow-dark));
}
.h4, .h3 {
  font-weight: 700;
  color: var(--text-secondary);
}
.h4 {
  margin-top: 16px;
}
