.footer {
  width: 100%;
  position: absolute;
  margin-top: 5rem;
  left: 0;
  background-color: var(--font-color);
}
.main {
  margin: 0 auto;
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2rem 0;
}
.aside {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.article {
    display: flex;
    flex-direction: column;
}
.div {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0.4rem;
}
.h2 {
    font-weight: 300;
    padding-bottom: .3rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #d7f2f6b1;
}
.ul {

    list-style: none;
}
.li {
    margin-bottom: .4rem;
}

@media (max-width: 425px) {
    .main {
        flex-direction: column;
    }
    .image {
        display: none;
    }
    .aside {
        gap: 0;
    }
  }
