.section {
  min-width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  transition: all .3s ease-in-out;
  padding: 16px;
  background: rgba(185, 189, 193, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.5px);
  border: 1px solid rgba(185, 189, 193, 0.18);
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 16px;
}
.h3 {
  min-width: 100%;
}
.link {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

@media (min-width: 768px) {
  .section {
    width: 300px;
  }
}
@media (min-width: 1024px) {
  .section {
    width: 300px;
  }
  }