.main {
  margin: 100px auto;
  display: grid;
  grid-template-columns: 15% 85%;
  gap: 8px;
  width: 100%;
  max-width: 1900px;
  color: #f9f9f9;
}

.section {
  margin: 0;
  width: 100%;
}

/* .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
