.main {
  margin-top: 250px;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #002442;
}

.header {
  max-width: 100dvw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.article_link {
  text-decoration: underline;
}
.error_article {
  width: 100dvw;
  height: 100dvh;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #002442f1;
}
.error_div {
  z-index: 1;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background-color: var(--bgCards-color);
  border: var(--border);
}
.article_p {
  font-weight: 400;
  font-size: 1.2rem;
}
.article_image {
  margin: 0 auto;
  backdrop-filter: 0px 0px 4px black;
}
.aside {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.h1 {
  font-size: 2.5rem;
}

.header_p {
  max-width: 450px;
  font-size: 1.3rem;
}
.error_p {
  color: #d93434;
  text-shadow: 0px 0px 0px black;

}
.form,
.article {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 2rem;
}
.link,
.input,
.button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px;
  border: 1px solid #002442;
  box-shadow: 0 2px 6px #002442da;
  background-color: #002442da;
  color: #d7f2f6;

}
.input {
  min-width: 300px;
}
.input::placeholder {
  color: #d7f2f6;
}
.div {
  position: relative;
}
.show {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 1.4rem;
  color: #d7f2f6;
  background-color: transparent;
  border: none;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.error {
  max-width: 300px;
  text-align: left;
}
.image {
  display: none;
  margin-bottom: 5rem;
}

.desktop {
  display: block;
  overflow: hidden;
}

@media (max-width: 1440px) {
  .desktop {
    width: 1900px;
    height: 300px;
  }
}
@media (max-width: 1024px) {
  .desktop {
    width: 1900px;
    height: 240px;
  }
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .section {
    gap: 2rem;
    padding: 2rem 1rem;
  }
}
@media (max-width: 425px) {
  .section {
    flex-direction: column;
  }
  .aside {
    justify-content: center;
    align-items: center;
  }
  .div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  .error_div {
    margin: 2rem;
  }
.header_p  {
  text-align: center;
}
}
